img{
    width: 250px;
    height: 250px;
}

h5{
    font-size: larger;
    
}
h1{
    text-align: center;
}

h6{
    position: relative;
    top:-40px;

}
.birk{
    width: 250px;
    height: 250px;
}
body{
    background: rgb(199,70,247);
background: radial-gradient(circle, rgba(199,70,247,1) 0%, rgba(255,161,161,1) 100%);
}
.grid-container {
    display: grid;
    column-gap: 50px;
  }

html{
    scroll-behavior: smooth;
}
.relative-wrapper{
    width: 350px;
    height: 350px;
    background: white;
    padding: 20px;
    font-family: sans-serif;
    margin-left: 80px;
    margin-right: 0;
    padding-bottom: 0px;
    margin-top: 20px;
    padding-left: 20px;
    display:  inline-grid;

}

.topnav {
    background-color: rgb(198, 151, 226);
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ff08b9;
    color: white;
  }
  .daybreak{
    width: 250px;
    height: 250px;
  }
.ugg{
    width: 350px;
    height: 250px;

}