p{
    color: #555;
   
}   
 
a{
    color:#880808;

}

body{
   
    background-image: url("https://wallpapercave.com/wp/wp6446358.jpg");
}
a:hover { 
    text-decoration: none; 
}
.am{
    text-decoration: underline;
}

footer ul:last-child li:first-child{
    list-style: none;
}
footer ul:last-child li:last-child{
    font-weight: bold;
}

p:nth-last-child(5) {
    text-decoration: underline;
  }
/* Source: https://css-tricks.com/almanac/selectors/n/nth-last-child/ */
header nav ul:first-child li{
    display: inline;
    padding-right: 20px;
    font-size: larger;
   
}
header{
    padding-right: 20px;
}
span:not(.am){
    font-style:italic;

}
/* I found this solution using this source: https://developer.mozilla.org/en-US/docs/Web/CSS/:not */

p:nth-last-child(5) {
    text-decoration: underline;
  }