.hero{
    background-image: url(../images/cart_8.jpg);
    background-repeat: no-repeat;
    background-size: cover;



}
.min-vh-75{
   height: 500px;
    
}
.bg{
    background-color: #D9DFFF;
    float: left;
    position:absolute;
    left:-1.1px; 
   height: 200px;
   width: 600px;
   font-family: 'Quicksand', sans-serif;
    
}
.bg-nav{
   background-color: #b19cd9;

}
.carousel {
    width:640px;
    height:360px;
    margin: auto;
  }

  .navbar{
    font-family: 'Quicksand', sans-serif;
    
  }